.profile-box {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.profile-btn {
    display: inline-block;
    width: 64px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 12px 4px;
    font-size: 13px;
    line-height: 28px;
    color: #505050;
    cursor: pointer;
}

.boardForm {
    position: relative;
    height: 165px;
    border: 1px solid #ddd;
    margin: 0px -1px;
    box-sizing: border-box;
}

.paginationBox {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}
