.boardForm {
    position: relative;
    height: 165px;
    border: 1px solid #ddd;
    margin: 0px -1px;
    box-sizing: border-box;
}

.paginationBox {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 40px;
}

textarea {
    width: 100%;
    height: 85px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 13px;
    text-align: start;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    vertical-align: middle;
    flex-direction: column;
}

.checkButton {
    position: absolute;
    bottom: 0;
    width: 38px;
    height: 38px;
    left: 10px;
}

.submitButtonDetail {
    background-color: #c62917;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38px;
    height: 40px;
}

.submitButtonList {
    background-color: #c62917;
    position: absolute;
    right: 0;
    width: 38px;
    height: 37.4px;
}

.inputIcon {
    width: 38px;
    height: 38px;
}

.commentForm {
    position: relative;
    background-color: #fafafa;
    margin: 0px -1px;
    box-sizing: border-box;
}

.backButton {
    display: flex;
    justify-content: center;
    border: 1px solid #c62917;
    border-radius: 4px;
    width: 24%;
    height: 36px;
    margin: 12px 0;
}

.backTitle {
    color: #c62917;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
}
.menuIcon {
    width: 12px;
    height: 12px;
    padding: 12px 0;
    margin-right: 4px;
}

.commentInput {
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 40px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.Toastify__toast {
    background-color: black;
    color: white;
}
