.container {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}
.project {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  padding-right: 4px;
}
.copyright {
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
}
